<ion-header>
  <ion-toolbar>
      <ion-title>Método de Pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="payment-container">
      <h2 class="payment-title">Agregar Método de Pago</h2>
      
      <ion-card>
          <ion-card-content>
              <ion-item>
                  <ion-label position="floating">Nombre en la Tarjeta</ion-label>
                  <ion-input [(ngModel)]="cardHolderName" placeholder="Nombre del Titular" type="text"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Número de Tarjeta</ion-label>
                  <ion-input [(ngModel)]="cardNumber" placeholder="**** **** **** ****" type="text"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Fecha de Expiración</ion-label>
                  <ion-input [(ngModel)]="expiryDate" placeholder="MM/AA" type="text"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">CVV</ion-label>
                  <ion-input [(ngModel)]="cvv" placeholder="***" type="text"></ion-input>
              </ion-item>
          </ion-card-content>
      </ion-card>
      
      <ion-button expand="full" class="save-button" (click)="savePaymentMethod()">Guardar Método de Pago</ion-button>
  </div>
</ion-content>
