<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu side="end" contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item routerLink="/profile">Perfil</ion-item>
          <ion-item routerLink="/settings">Ajustes</ion-item>
          <ion-item routerLink="/about">Acerca de</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <div class="home-container">
    <h1>Bienvenido a TeLlevoAPP</h1>
    <p>Organízate y encuentra compañeros para compartir vehículos y regresar a casa de manera cómoda y segura.</p>
    <ion-button (click)="logout()" expand="full">Cerrar Sesión</ion-button>
  </div>
</ion-content>
